//Colors

$color-primary : #35495e;
$color-secondary: #41B882;
$color-background: rgba(65, 184, 130, .1);
$color-lightgrey: #D3D3D3;
$color-lightred: #ffdcdb;
$color-red: #FF7970;

//Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

$font-base : 'Source Sans Pro', sans-serif;

//Others

$default-transition: all linear .2s;
