//Colors

$color-primary : #35495e;
$color-secondary: #41B882;

//Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

$font-base : 'Source Sans Pro', sans-serif;
